{% extends 'board/default.html' %}'

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="features">
    <h1>Доска объявлений</h1>

    {% for el in board %}
        <div class="alert alert-warning">
            {{ el.author }}
            <p>Для категории: {{ el.category }}</p>
            <h3 style="text-align: center;">{{ el.title }}</h3>
            <hr>
            {{ el.text|safe }}<hr>
            {% if el.files %}
                <a class="bot1" href="{{el.files.url}}">Прикреплённый файл</a>
            {% endif %}
            <br>
            {% if el.author == author %}
                <a href="{{ el.id }}/update">Редактировать</a> /// <a href="{{ el.id }}/delete">Удалить</a>
            {%else%}
                <p style="text-align: right;"><a href="{{el.id}}/resp">Откликнуться</a></p>
            {% endif %}
            <p style="text-align: right;">{{ el.date }}</p>
        </div>
    {% endfor %}


</div>


{% endblock %}