{% extends 'board/default.html' %}'

{% block title %}Добавить обьявление{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Добавить обьявление</h1>
        <hr>
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.media }}
            <input type="submit" value="Save" />
        </form>
    {% else %}
        <h3>Добавить обьявление могут только авторизованные пользователи.</h3>
        <h3><a href="{% url 'signup' %}">Регистрация</a> / <a href="/accounts/login">Войти</a></h3>
    {% endif %}
{% endblock content %}